.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    max-width: calc((360px * 3) + (24px * 2));
    padding-left: 0;
    margin: auto;
}

.gallery-image {
    width: 360px;
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
}